//colours
$white: #ffffff; //main background
$kijiji-indigo: #373373; //main banner & text colour
$kijiji-money: #2e844c; //prices on listing cards
$kijiji-grey: #3f4153; //footer background
$kijiji-light-grey: #70727f; //secondary text colour (placeholders)
$footer-link-hover: #90d3a6;
$browse-blue: #155e9b;
//logo colours
$kijiji-yellow: #f9aa17;
$kijiji-red: #f0454f;
$kijiji-blue: #1477d4; //also used for some links (popular on kijiji card)
$kijiji-green: #36a864;
$kijiji-purple: #9b44ad;

//breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;
