@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.listing-card {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid #ececee;
  border-radius: 8px;

  @include desktop {
    padding: 1rem;
    width: 100%;
  }

  &__image-container {
    flex: 0 0 auto;
    width: 104px;
    height: 104px;

    @include desktop {
      height: 176px;
      width: 176px;
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
      justify-content: flex-start;
      gap: 0.5rem;
    }
  }

  &__price {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: $kijiji-money;
  }

  &__title {
    @include card-titles;
    color: $kijiji-indigo;
  }

  &__details {
    @include tertiary-nav-links;
    display: flex;
    gap: 0.25rem;
    color: $kijiji-light-grey;
  }

  &__date {
    padding-left: 0.25rem;
    border-left: 1px solid $footer-list-heading;
  }

  &__badge-container {
    display: flex;
    gap: 0.25rem;
  }

  &__badge {
    height: 20px;
    width: 100px;
  }

  &__description {
    display: none;

    @include desktop {
      @include banner-subtitles;
      color: $kijiji-light-grey;
      display: initial;
    }
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
