@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.home {
  &__mobile {
    @include desktop {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}

.main {
  @include desktop {
    display: flex;
  }
}
